/*Global*/

$primeColor: #FFF;
$shadowColor: #000;

body {
    margin: 0;
    padding: 0;
    background-color: $primeColor;
}

/*Header*/
.background {
    background-image: url("https://i.postimg.cc/1Xzr3M6p/pexels-jessica-lewis-creative-593319.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.logo {
    h2 {
        display: inline-block;
        color: gold;
        font-family: 'Square Peg', cursive;
        font-size:52px;
        margin-left: 10%;
        text-shadow: 0 0 5px $primeColor;
    }
}

.menu {
    ul {
        list-style-type: none;
        align-items: center;
    }

    li {
        margin: 0 auto 0 0;
        font-family: 'Oswald', sans-serif;
    }

    a {
        text-decoration: none;
        color: $primeColor;
        text-shadow: 0 0 3px $shadowColor;
    }
    a:hover {
        color: #bdc3c7;
    }
}

/*Splash*/

.splash {
    margin-top: 20%;
}

.splash-inner {
    padding-bottom: 50px;
    text-align: center;
    .splash-title {
        display: block;
        color: $primeColor;
        text-shadow: 0 0 3px $shadowColor;
        font-size: 32px;
        letter-spacing: 3px;
        font-family: 'Square Peg', cursive;
    }
    .splash-sub-title {
        color: $primeColor;
        text-shadow: 0 0 3px $shadowColor;
        font-size: 28px;
        font-family: 'Oswald', sans-serif;
    }
    a {
        display: inline-block;
        text-align: center;
        padding: 15px;
        text-decoration: none;
        color: $primeColor;
        text-shadow: 0 0 4px $shadowColor;
        background-color: gold;
        color: $primeColor;
        border-radius: 15%;
        font-family: 'Oswald', sans-serif;
    }
    
    a:hover {
        background-color: #f9cb24;
    }
}

/*Service*/

.services {
    .service-title {
        text-align: center;
        font-family: 'Oswald', sans-serif;
        margin: 96px 0 40px 0;
    }
    .service-card {
        text-align: center;
        i {
            color: #f9ca24;
            font-size: 30px;
            width: 60px;
            height: 60px;
            border:2px solid #f9ca24;
            border-radius: 50%;
            line-height: 60px;
        }
        h3, p{
            font-family: 'Oswald', sans-serif;
        }
    }
}

/*Portfolio*/ 

.portfolio {
    .portfolio-title {
        text-align: center;
        margin: 96px 0 40px 0;
        font-family: 'Oswald', sans-serif;
    }
    .portfolio-card {
        img {
            height: 200px;
        }
        h2, p {
            text-align: center;
            font-family: 'Oswald', sans-serif;
        }
        h2 {
            margin: 0;
        }
        p {
            margin: 0 0 20px 0;
        }
    }
}