/*Global*/

$primeColor: #FFF;
$shadowColor: #000;

body {
    margin: 0;
    padding: 0;
    background-color: $shadowColor;
}

/*Header*/
.background {
    background-image: url("https://i.postimg.cc/1Xzr3M6p/pexels-jessica-lewis-creative-593319.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.logo {
    h2 {
        display: inline-block;
        color: gold;
        font-family: 'Square Peg', cursive;
        font-size:52px;
        margin-left: 10%;
        text-shadow: 0 0 5px $primeColor;
    }
}

.menu {
    ul {
        list-style-type: none;
        align-items: center;
    }

    li {
        margin: 0 auto 0 0;
        font-family: 'Oswald', sans-serif;
    }

    a {
        text-decoration: none;
        color: $primeColor;
        text-shadow: 0 0 3px $shadowColor;
    }
    a:hover {
        color: #bdc3c7;
    }
}

/*Splash*/
.splash {
    margin-top: 20%;
}

.splash-inner {
    padding-bottom: 50px;
    text-align: center;
    .splash-title {
        display: block;
        color: $primeColor;
        text-shadow: 0 0 3px $shadowColor;
        font-size: 22px;
    }
    .splash-sub-title {
        color: $primeColor;
        text-shadow: 0 0 3px $shadowColor;
        font-size: 28px;
    }
    a {
        display: inline-block;
        text-align: center;
        padding: 15px;
        text-decoration: none;
        color: $primeColor;
        text-shadow: 0 0 4px $shadowColor;
        background-color: gold;
        color: $primeColor;
        border-radius: 15%;
    }
    
    a:hover {
        background-color: #f1c40f;
    }
}
